@tailwind base;
@tailwind components;
@tailwind utilities;

/* Сброс стилей для корректного растягивания на весь экран */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Запрещаем скролл на уровне окна */
}
